<form action="#" th:action="@{/calculateInterest}" th:object="${calculationRequest}" method="post">
    <label for="amount">Amount</label>
    <input type="text" th:field="*{amount}" id="amount" placeholder="Amount">
    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
    <br/>
    <label for="repoRate">Repo rate</label>
    <input type="text" th:field="*{repoRate}" id="repoRate" placeholder="Repo rate">
    <span th:if="${#fields.hasErrors('repoRate')}" th:errors="*{repoRate}"></span>
    <br/>
    <label for="agreementType">Agreement Type</label>
    <select th:field="*{agreementType}" id="agreementType">
        <option th:each="agreement : ${agreements}" th:value="${agreement.agreementType}"
                th:text="${agreement.agreementDescription}"></option>
    </select>
    <span th:if="${#fields.hasErrors('agreementType')}" th:errors="*{agreementType}"></span>
    <br/>
    <label for="startDate">Start Date</label>
    <input type="date" th:field="*{startDate}" id="startDate" placeholder="Start Date">
    <span th:if="${#fields.hasErrors('repoRate')}" th:errors="*{repoRate}"></span>
    <br/>
    <label for="endDate">End Date</label>
    <input type="date" th:field="*{endDate}" id="endDate" placeholder="end Date">
    <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
    <input type="submit" value="Calculate Interest">
    <br/>
</form>
