<label for="status">Status: </label>
<div id="failedReason" th:text="${calculationResult.status}"></div>
<br/>
<label for="failedReason">Failed Reason: </label>
<div id="status" th:text="${calculationResult.failedReason}"></div>
<br/>
<label for="calcAmount">Calculated interest amount: </label>
<div id="calcAmount" th:text="${calculationResult.calcAmount}"></div>
